html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
}

li {
	display: block;
}

header {
	width: 100%;
	height: 50px;
	top: 0;
	background-color: #eee;
	display: flex;
	justify-content: center;
	z-index: 9;
}

#map {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	width: 80%;
}

#mapSearchBox {
	width: 200px;
	position: absolute;
	z-index: 99;
}

aside {
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 20%;
	background-color: #666;
}

#loadingModal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #333;
	opacity: 0.9;
	z-index: 9999;
	display: table;
	text-align: center;
}

#loadingModal div {
	display: table-cell;
	vertical-align: middle;
}

#loadingModal h4 {
	color: #eee;
	font-size: 30px;
	font-weight: bold;
}

#loadingModal p {
	color: #eee;
	font-size: 20px;
	font-weight: normal;
}

.hidden {
	display: none;
	visibility: hidden;
}